@{
    ViewBag.Title = "About";
}

<link rel="stylesheet" type="text/css" href="~/Assets/css/gioithieuu.css">


<!--<!--banner-->
<div class="slider">
    <div class="banner">
        <img src="~/Assets/images/GioiThieu/BannerGT.png">
    </div>
</div>
<!--Gioi Thieu-->
<div class="main" id="main">
    <div class="video-1">
        <video  class="video" autoplay>
            <source src="~/Assets/images/Media/MediaGioiThieu.mp4" type="video/mp4">
        </video>
    </div>

    <div class="text-content">
        <h2>Lời mở đầu</h2>
        <p align="justify">
            Chào mừng đến với ngôi nhà Rich Story. Bạn biết không, Rich khởi đầu là một cửa hàng với quy mô nhỏ vỏn vẹn 2 người quản lý,
            với quyết tâm cao, ý chí kiên cường Rich mong muốn vươn tới thành công hơn nữa. Kết quả đột phá Rich Story đã đứng vững qua thời kỳ covid khủng hoảng
            để vươn lên và khẳng định vị thế hiện tại. Rich hứa, sẽ luôn cố gắng mang đến cho bạn những sản phẩm tuyệt vời nhất, chất lượng nhất, độc đáo nhất.
            Sự lựa chọn và đồng hành của bạn, của quý khách hàng là niềm tự hào của Rich. Chào mừng đến với ngôi nhà Rich Story. Bạn biết không, Rich khởi đầu là một
            cửa hàng với quy mô nhỏ vỏn vẹn 2 người quản lý, với quyết tâm cao, ý chí kiên cường Rich mong muốn vươn tới thành công hơn nữa.
        </p>
    </div>
</div>

<div class="main" id="main">
    <div class="images-1">
        <img src="~/Assets/images/GioiThieu/tamnhin01.jpg" />
    </div>

    <div class="text-content">
        <h2>Tầm nhìn</h2>
        <p align="justify">
            Chào mừng đến với ngôi nhà Rich Story. Bạn biết không, Rich khởi đầu là một cửa hàng với quy mô nhỏ vỏn vẹn 2 người quản lý,
            với quyết tâm cao, ý chí kiên cường Rich mong muốn vươn tới thành công hơn nữa. Kết quả đột phá Rich Story đã đứng vững qua thời kỳ covid khủng
            hoảng để vươn lên và khẳng định vị thế hiện tại. Rich hứa, sẽ luôn cố gắng mang đến cho bạn những sản phẩm tuyệt vời nhất, chất lượng nhất, độc đáo nhất.
            Sự lựa chọn và đồng hành của bạn, của quý khách hàng là niềm tự hào của Rich. Chào mừng đến với ngôi nhà Rich Story. Bạn biết không, Rich khởi đầu là một
            cửa hàng với quy mô nhỏ vỏn vẹn 2 người quản lý, với quyết tâm cao, ý chí kiên cường Rich mong muốn vươn tới thành công hơn nữa.
        </p>
    </div>
</div>

<div class="main" id="main">
    <div class="images-1">
        <img src="~/Assets/images/GioiThieu/sumenh04.jpg" />
    </div>

    <div class="text-content">
        <h2>Sứ mệnh</h2>
        <p align="justify">
            Chào mừng đến với ngôi nhà Rich Story. Bạn biết không, Rich khởi đầu là một cửa hàng với quy mô nhỏ vỏn vẹn 2 người quản lý,
            với quyết tâm cao, ý chí kiên cường Rich mong muốn vươn tới thành công hơn nữa. Kết quả đột phá Rich Story đã đứng vững qua thời kỳ covid khủng hoảng
            để vươn lên và khẳng định vị thế hiện tại. Rich hứa, sẽ luôn cố gắng mang đến cho bạn những sản phẩm tuyệt vời nhất, chất lượng nhất, độc đáo nhất.
            Sự lựa chọn và đồng hành của bạn, của quý khách hàng là niềm tự hào của Rich. Chào mừng đến với ngôi nhà Rich Story. Bạn biết không, Rich khởi đầu là một cửa hàng với
            quy mô nhỏ vỏn vẹn 2 người quản lý, với quyết tâm cao, ý chí kiên cường Rich mong muốn vươn tới thành công hơn nữa.
        </p>
    </div>
</div>

<!--Dich Vu-->
<div class="dichvu" id="dichvu">
    <h1 align="center">Chính Sách - Dịch Vụ</h1>
</div>

<div class="dichvu-1" id="dichvu-1">
    <div class="images-dv">
        <img src="~/Assets/images/GioiThieu/GiaoHang.PNG" />
        <div class="text-dv">
            <h2>Miễn phí giao hàng</h2>
            <p align="justify"> Ưu đãi giao hàng miễn phí toàn quốc với mọi hóa đơn mua hàng trị giá từ 300.000đ. </p>
        </div>
    </div>

    <div class="images-dv">
        <img src="~/Assets/images/GioiThieu/DoiTra.PNG" />

        <div class="text-dv">
            <h2>Đổi trả trong vòng 7 ngày</h2>
            <p align="justify"> Hỗ trợ đổi trả sản phẩm không vừa size, lỗi từ nhà sản xuất trong vòng 30 ngày kể từ khi mua hàng.</p>
        </div>
    </div>

</div>

<div class="dichvu-1" id="dichvu-1">
    <div class="images-dv">
        <img src="~/Assets/images/GioiThieu/HangNew.PNG" />
        <div class="text-dv">
            <h2>Sản phẩm mới 100%</h2>
            <p align="justify">
                Rich Story cam kết mọi sản phẩm mới 100%, nguyên seal, nguyên hộp, chưa qua sử dụng.
            </p>
        </div>
    </div>

    <div class="images-dv">
        <img src="~/Assets/images/GioiThieu/ChamSocKH.PNG" />

        <div class="text-dv">
            <h2>Chăm sóc khách hàng</h2>
            <p align="justify"> Dịch vụ chăm sóc khách hàng tận tâm, luôn lắng nghe thấu hiểu và giải đáp mọi thắc mắc của khách hàng.</p>
        </div>
    </div>

</div>

<div class="dichvu-1" id="dichvu-1">
    <div class="images-dv">
        <img src="~/Assets/images/GioiThieu/ChinhHang.PNG" />
        <div class="text-dv">
            <h2>Hàng chính hãng</h2>
            <p align="justify"> Cam kết sản phẩm chính hãng 100%, nhập trực tiếp các thương hiệu, phát hiện hàng giả đền gấp x10 lần.</p>
        </div>
    </div>

    <div class="images-dv">
        <img src="~/Assets/images/GioiThieu//ThanhToan.PNG" />
        <div class="text-dv">
            <h2>Thanh toán đa dạng</h2>
            <p align="justify"> Hình thức thanh toán đa dạng rộng mở đến từ nhiều đối tác ngân hàng, ví điện tử trong và ngoài nước.</p>
        </div>
    </div>
</div>
@section scripts{
    <script>$('.video').click(function () { this.paused ? this.play() : this.pause(); });</script>
}