@{
    ViewBag.Title = "About";
}

<div id="page-content" class="home-page">
    <div class="container">
        <div class="row">
            <!--  -->
            <div class="col-md-12">
                <img src="/Assets/images/IconGioiThieu/BannerGT.png">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <video autoplay class="col-md-12 video">
                    <source src="/Assets/images/Media/MediaGioiThieu.mp4" type="video/mp4">
                </video>
            </div>
            <div class="col-md-6" style="text-align: justify;">
                <h2>Lời mở đầu</h2>
                Chào mừng đến với ngôi nhà Rich Story. Bạn biết không, Rich khởi đầu là một cửa hàng
                với quy mô
                nhỏ vỏn vẹn 2 người quản lý, với quyết tâm cao, ý chí kiên cường Rich mong muốn vươn
                tới thành
                công hơn nữa. Kết quả đột phá Rich Story đã đứng vững qua thời kỳ covid khủng hoảng
                để vươn lên
                và khẳng định vị thế hiện tại. Rich hứa, sẽ luôn cố gắng mang đến cho bạn những sản
                phẩm tuyệt
                vời nhất, chất lượng nhất, độc đáo nhất. Sự lựa chọn và đồng hành của bạn, của quý
                khách hàng là
                niềm tự hào của Rich.
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="/Assets/images/IconGioiThieu/sumenh.jpg" class="col-md-12">

            </div>
            <div class="col-md-6" style="text-align: justify;">
                <h2>Sứ mệnh</h2>
                Không ngừng cung cấp cho người tiêu dùng những lựa chọn tốt nhất, chất lượng vượt
                trội nhất về
                sản phẩm thời trang, giày dép... Rich Story còn cam kết không ngừng cải tiến, nâng
                cao thương
                hiệu và chất lượng sản phẩm theo xu hướng thời đại, nhằm đáp ứng tất cả các nhu cầu
                ngày càng
                cao và đa dạng của người tiêu dùng và để xây dựng lâu dài niềm tin với tất cả khách
                hàng. Khách
                hàng hài lòng là sứ mệnh của Rich Story.
            </div>
        </div>
        <div class="col-md-12" style="text-align: center;margin-bottom: 30px;">
            <h1>DỊCH VỤ</h1>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="/Assets/images/IconGioiThieu/GiaoHang.PNG">
                <h2>Miễn phí giao hàng</h2>

                Miễn phí giao hàng trên toàn quốc với hóa đơn từ 800.000đ.
            </div>
            <div class="col-md-6">
                <img src="/Assets/images/IconGioiThieu/HangNew.PNG">
                <h2>Sản phẩm mới 100%</h2>
                Shop cam kết mọi sản phẩm nguyên seal, chưa qua sử dụng.
            </div>
            <div class="col-md-6">
                <img src="/Assets/images/IconGioiThieu/ChinhHang.PNG">
                <h2>Hàng chính hãng</h2>

                Mọi sản phẩm nhập trực tiếp từ các thương hiệu.
            </div>
            <div class="col-md-6">
                <img src="/Assets/images/IconGioiThieu/DoiTra.PNG">
                <h2>Đổi trả trong vòng 7 ngày</h2>

                Miễn phí đổi trả trong vòng 7 ngày với sản phẩm nguyên giá.
            </div>
            <div class="col-md-12" style="margin: 0;">
                <div class="col-md-6">
                    <img src="/Assets/images/IconGioiThieu/ThanhToan.PNG">
                    <h2>Thanh toán đa dạng</h2>

                    Kênh thanh toán đa dạng, rộng mở, từ nhiều đối tác.
                </div>
                <div class="col-md-6">
                    <img src="/Assets/images/IconGioiThieu/ChamSocKH.PNG">
                    <h2>Chăm sóc khách hàng</h2>

                    Dịch vụ chăm sóc khách hàng tận tâm, nhiệt tình.
                </div>
            </div>
        </div>
    </div>
</div>
<script>$('.video').click(function () { this.paused ? this.play() : this.pause(); });</script>
