@{
    ViewBag.Title = "Home Page";
}

<div id="page-content" class="home-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Carousel -->
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators hidden-xs">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="/Assets/images/sildes/2afcaf96168299.5ea8569a189f9.png" alt="First slide">
                            <!-- Static Header --
                            <div class="header-text hidden-xs">
                                <div class="col-md-12 text-center">
                                </div>
                            < </div>/header-text -->
                        </div>
                        <div class="item">
                            <img src="/Assets/images/sildes/40058396168299.5ea8569a1915f.png" alt="Second slide">
                            <!-- Static Header -->
                            <div class="header-text hidden-xs">
                                <div class="col-md-12 text-center">
                                </div>
                            </div><!-- /header-text -->
                        </div>
                        <div class="item">
                            <img src="/Assets/images/sildes/64bf5996168299.5ea8569a1974c.png" alt=" Third slide">
                            <!-- Static Header -->
                            <div class="header-text hidden-xs">
                                <div class="col-md-12 text-center">
                                </div>
                            </div><!-- /header-text -->
                        </div>
                        <div class="item">
                            <img src="/Assets/images/sildes/bd3f6196168299.5ea8569a19f92.png" alt=" Third slide">
                            <!-- Static Header -->
                            <div class="header-text hidden-xs">
                                <div class="col-md-12 text-center">
                                </div>
                            </div><!-- /header-text -->
                        </div>
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div><!-- /carousel -->
            </div>
        </div>
        <div class="row">
            <div class="banner">
                <div class="col-sm-4">
                    <img src="/Assets/images/slide2.jpg" />
                </div>
                <div class="col-sm-4">
                    <img src="/Assets/images/slide1.jpg" />
                </div>
                <div class="col-sm-4">
                    <img src="/Assets/images/slide3.png" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="heading">
                    <h2>SPECIAL PRODUCTS</h2>
                </div>
                <div class="products">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="product">
                            <div class="image">
                                <a href="product.html">
                                    <img src="/Assets/images/products/Ao_Khoac/88c7bfe3-99d1-0700-c2d4-00171b9a2a31cc6a.jpg" />
                                </a>
                            </div>
                            <div class="buttons">
                                <a class="btn cart" href="#">
                                    <span class="glyphicon glyphicon-shopping-cart"></span>
                                </a>
                                <a class="btn wishlist" href="#"><span class="glyphicon glyphicon-heart"></span></a>
                                <a class="btn compare" href="#">
                                    <span class="glyphicon glyphicon-transfer"></span>
                                </a>
                            </div>
                            <div class="caption">
                                <div class="name">
                                    <h3><a href="product.html">Aliquam erat volutpat</a></h3>
                                </div>
                                <div class="price">$122<span>$98</span></div>
                                <div class="rating">
                                    <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="product">
                            <div class="image">
                                <a href="product.html">
                                    <img src="/Assets/images/products/Ao_SoMi/544ba8f2-5f08-1000-c7a8-0017795b50f2cc6a.jpg" />
                                </a>
                            </div>
                            <div class="buttons">
                                <a class="btn cart" href="#">
                                    <span class="glyphicon glyphicon-shopping-cart"></span>
                                </a>
                                <a class="btn wishlist" href="#"><span class="glyphicon glyphicon-heart"></span></a>
                                <a class="btn compare" href="#">
                                    <span class="glyphicon glyphicon-transfer"></span>
                                </a>
                            </div>
                            <div class="caption">
                                <div class="name">
                                    <h3><a href="product.html">Aliquam erat volutpat</a></h3>
                                </div>
                                <div class="price">$122<span>$98</span></div>
                                <div class="rating">
                                    <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="product">
                            <div class="image">
                                <a href="product.html">
                                    <img src="/Assets/images/products/Quan_Jeans/f1c1782f-07e2-2d00-448d-0015b6e7011dcc6a.jpg" />
                                </a>
                            </div>
                            <div class="buttons">
                                <a class="btn cart" href="#">
                                    <span class="glyphicon glyphicon-shopping-cart"></span>
                                </a>
                                <a class="btn wishlist" href="#"><span class="glyphicon glyphicon-heart"></span></a>
                                <a class="btn compare" href="#">
                                    <span class="glyphicon glyphicon-transfer"></span>
                                </a>
                            </div>
                            <div class="caption">
                                <div class="name">
                                    <h3><a href="product.html">Aliquam erat volutpat</a></h3>
                                </div>
                                <div class="price">$122<span>$98</span></div>
                                <div class="rating">
                                    <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="product">
                            <div class="image">
                                <a href="product.html">
                                    <img src="/Assets/images/products/Quan_Tay/5642e409-1805-db00-98bc-0016746b6f3acc6a.jpg" />
                                </a>
                            </div>
                            <div class="buttons">
                                <a class="btn cart" href="#">
                                    <span class="glyphicon glyphicon-shopping-cart"></span>
                                </a>
                                <a class="btn wishlist" href="#"><span class="glyphicon glyphicon-heart"></span></a>
                                <a class="btn compare" href="#">
                                    <span class="glyphicon glyphicon-transfer"></span>
                                </a>
                            </div>
                            <div class="caption">
                                <div class="name">
                                    <h3><a href="product.html">Aliquam erat volutpat</a></h3>
                                </div>
                                <div class="price">$122<span>$98</span></div>
                                <div class="rating">
                                    <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="banner">
                <div class="col-sm-6">
                    <img src="/Assets/images/slide4.jpg" />
                </div>
                <div class="col-sm-6">
                    <img src="/Assets/images/slide5.jpg" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="heading">
                    <h2>FEATURED PRODUCTS</h2>
                </div>
                <div class="products">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="product">
                            <div class="image"><a href="product.html"><img src="/Assets/images/iphone.png" /></a></div>
                            <div class="buttons">
                                <a class="btn cart" href="#">
                                    <span class="glyphicon glyphicon-shopping-cart"></span>
                                </a>
                                <a class="btn wishlist" href="#"><span class="glyphicon glyphicon-heart"></span></a>
                                <a class="btn compare" href="#">
                                    <span class="glyphicon glyphicon-transfer"></span>
                                </a>
                            </div>
                            <div class="caption">
                                <div class="name">
                                    <h3><a href="product.html">Aliquam erat volutpat</a></h3>
                                </div>
                                <div class="price">$122<span>$98</span></div>
                                <div class="rating">
                                    <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="product">
                            <div class="image"><a href="product.html"><img src="/Assets/images/galaxy-s4.jpg" /></a></div>
                            <div class="buttons">
                                <a class="btn cart" href="#">
                                    <span class="glyphicon glyphicon-shopping-cart"></span>
                                </a>
                                <a class="btn wishlist" href="#"><span class="glyphicon glyphicon-heart"></span></a>
                                <a class="btn compare" href="#">
                                    <span class="glyphicon glyphicon-transfer"></span>
                                </a>
                            </div>
                            <div class="caption">
                                <div class="name">
                                    <h3><a href="product.html">Aliquam erat volutpat</a></h3>
                                </div>
                                <div class="price">$122<span>$98</span></div>
                                <div class="rating">
                                    <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="product">
                            <div class="image"><a href="product.html"><img src="/Assets/images/galaxy-note.jpg" /></a></div>
                            <div class="buttons">
                                <a class="btn cart" href="#">
                                    <span class="glyphicon glyphicon-shopping-cart"></span>
                                </a>
                                <a class="btn wishlist" href="#"><span class="glyphicon glyphicon-heart"></span></a>
                                <a class="btn compare" href="#">
                                    <span class="glyphicon glyphicon-transfer"></span>
                                </a>
                            </div>
                            <div class="caption">
                                <div class="name">
                                    <h3><a href="product.html">Aliquam erat volutpat</a></h3>
                                </div>
                                <div class="price">$122<span>$98</span></div>
                                <div class="rating">
                                    <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="product">
                            <div class="image"><a href="product.html"><img src="/Assets/images/Z1.png" /></a></div>
                            <div class="buttons">
                                <a class="btn cart" href="#">
                                    <span class="glyphicon glyphicon-shopping-cart"></span>
                                </a>
                                <a class="btn wishlist" href="#"><span class="glyphicon glyphicon-heart"></span></a>
                                <a class="btn compare" href="#">
                                    <span class="glyphicon glyphicon-transfer"></span>
                                </a>
                            </div>
                            <div class="caption">
                                <div class="name">
                                    <h3><a href="product.html">Aliquam erat volutpat</a></h3>
                                </div>
                                <div class="price">$122<span>$98</span></div>
                                <div class="rating">
                                    <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>