
@{
    ViewBag.Title = "Shopping_Success";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}
<div class="main" style="text-align:center">
    <h2>Shopping_Success</h2>
    <h4>Bạn đã đặt hàng thành công. Sản phẩm của bạn sẽ đến trong vòng 4 đến 5 ngày.
    Cảm ơn bạn đã mua hàng của chúng tôi. Hẹn gặp lại.</h4>
    <a href="@Url.Action("SanPham","SanPham")" class="btn btn-success"><< Tiếp Tục Mua Sắm</a>
</div>


